.main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.waiting-room {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.game-room {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.score-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player1-title {
    color: #0077c2
}

.player2-title {
    color: #790e8b
}

footer, header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}