@keyframes blink { 
    50% { border-color: #ff0000; } 
}

.blinking-score-container {
    border: 4px solid #EEEEEE;

    animation-name: blink;
    animation-duration: .5s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.normal-score-container {
    animation-play-state: paused;
}